body {
  font-family: "Josefin Sans", "Noto Sans JP", sans-serif;
  letter-spacing: 0.05em;
  color: #3c301e;
}

img {
  width: 100%;
}

/* header */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  padding: 12px;
  border-bottom: 1px solid rgba(241, 238, 228, 0.25);
}

.header-logo {
  width: 200px;
  margin: 0 auto;
}

.header-nav {
  margin-top: 10px;
}

.header-nav-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.header-nav-item {
  color: #fff;
}

/* fv */
.fv img {
  width: 100%;
}

/* 共通クラス */
.inner {
  padding: 0 40px;
}

.section-heading {
  text-align: center;
  margin-bottom: 40px;
}

.section-heading-main {
  font-size: 40px;
  display: block;
}

.section-heading-sub {
  font-size: 12px;
  display: block;
}

/* aboutセクション */
.about {
  background-color: #f1eee4;
  padding: 40px 0;
}

.about-text-contents {
  margin-top: 20px;
}

.about-text {
  font-size: 14px;
  line-height: 2;
}

.about-text + .about-text {
  margin-top: 16px;
}

/* menuセクション */
.menu {
  background-color: #f1eee4;
  padding: 20px 0;
}

.menu-item {
  margin-bottom: 64px;
}

.menu-name {
  text-align: center;
  padding: 16px 10px;
}

.menu-name-main {
  display: block;
  font-size: 18px;
}

.menu-name-sub {
  display: block;
  font-size: 12px;
  margin-top: 8px;
  color: #a98c5f;
}

.menu-text {
  font-size: 14px;
  margin-top: 15px;
  color: #a98c5f;
}

/* shopセクション */

.shop {
  background-image: url(../img/sp/bg-shop.png);
  background-position: center;
  background-size: cover;
  padding: 80px 0;
}

.shop-inner {
  padding: 0 20px;
}

.shop-heading {
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

.shop-text {
  font-size: 14px;
  text-align: center;
  line-height: 2;
  color: #fff;
}

.form {
  margin-top: 40px;
}

.form-input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 4px;
  padding: 14px;
  font-family: "Josefin Sans", "Noto Sans JP", sans-serif;
}

.form-submit {
  display: block;
  border: none;
  border-radius: 4px;
  font-family: "Josefin Sans", "Noto Sans JP", sans-serif;
  color: #fff;
  background-color: #a98c5f;
  padding: 12px 10px;
  width: 120px;
  margin: 10px auto 0;
}

/* footer */
.footer {
  text-align: center;
  background-color: #3c3013;
  color: #fff;
  padding-top: 45px;
}

.footer-logo {
  width: 200px;
  margin: 0 auto;
}

.footer-text {
  font-size: 12px;
}

.footer-nav-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 40px;
  padding: 0 20px;
}

.sns-img {
  width: 56px;
}

.footer-nav-text {
  font-size: 12px;
  margin-top: 12px;
}

.footer-copy-wrapper {
  margin-top: 46px;
  border-top: 1px solid rgba(241, 238, 228, 0.25);
  padding: 12px;
}

.footer-copylight {
  font-size: 12px;
}

/* タブレット、PCサイズの表示 */
@media screen and (min-width: 768px) {
  .header-inner {
    max-width: 1080px;
    padding: 0 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .header-logo {
    margin: 0;
  }

  .header-nav-list {
    gap: 40px;
  }

  .header-nav-link {
    transition: opacity 0.3s;
  }
  .header-nav-link:hover {
    opacity: 0.7;
  }

  .inner {
    max-width: 1080px;
    padding: 0 40px;
    margin: 0 auto;
  }

  .section-heading-main {
    font-size: 60px;
  }

  .about {
    padding: 100px 0;
  }

  .about-contents {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .about-img {
    width: 300px;
  }

  .about-text-contents {
    margin-top: 0;
  }

  .about-text {
    font-size: 15px;
  }

  .about-text + .about-text {
    margin-top: 30px;
  }

  .menu {
    padding: 0 40px;
  }

  .menu-list {
    display: flex;
    gap: 20px;
  }

  .shop {
    background-image: url(../img/bg-shop.png);
    background-position: center center;
    background-size: cover;
    padding: 60px 0;
  }

  .shop-inner {
    max-width: 600px;
    margin: 0 auto;
  }

  .form {
    display: flex;
    gap: 20px;
  }

  .form-submit {
    margin-top: 0;
    transition: opacity 0.3s;
  }

  .form-submit:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .footer-text {
    margin-top: 12px;
  }

  .footer-nav-list {
    gap: 40px;
  }

  .footer-copylight {
    font-size: 13px;
  }
}
